Checks: >
  -*,
  performance-*,
  bugprone-*,
  modernize-*,
  clang-analyzer-*,
  -modernize-use-trailing-return-type,
  -bugprone-reserved-identifier,
  -bugprone-easily-swappable-parameters,
  -modernize-avoid-c-style-cast,
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
