Checks: >
  -*,
  performance-*,
  bugprone-*,
  modernize-*,
  clang-analyzer-*,
  -modernize-use-trailing-return-type
  -bugprone-reserved-identifier
  -modernize-avoid-c-style-cast
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
